In [1]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from sklearn import tree

In [2]:
df = pd.read_csv('bank.csv')

In [3]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [4]:
df.drop([ 'job','marital','education','default', 'housing',
'loan', 'contact', 'month', 'poutcome',] ,axis=1 , inplace=True)

In [5]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000
mean,41.231948,1528.538524,15.658036,371.993818,2.508421,51.330407,0.832557
std,11.913369,3225.413326,8.420740,347.128386,2.722077,108.758282,2.292007
min,18.000000,-6847.000000,1.000000,2.000000,1.000000,-1.000000,0.000000
25%,32.000000,122.000000,8.000000,138.000000,1.000000,-1.000000,0.000000
50%,39.000000,550.000000,15.000000,255.000000,2.000000,-1.000000,0.000000
75%,49.000000,1708.000000,22.000000,496.000000,3.000000,20.750000,1.000000
max,95.000000,81204.000000,31.000000,3881.000000,63.000000,854.000000,58.000000

In [6]:
df['deposit'] = df.deposit.map({'yes':0, 'no':1})

In [7]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous,deposit
count,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000
mean,41.231948,1528.538524,15.658036,371.993818,2.508421,51.330407,0.832557,0.526160
std,11.913369,3225.413326,8.420740,347.128386,2.722077,108.758282,2.292007,0.499338
min,18.000000,-6847.000000,1.000000,2.000000,1.000000,-1.000000,0.000000,0.000000
25%,32.000000,122.000000,8.000000,138.000000,1.000000,-1.000000,0.000000,0.000000
50%,39.000000,550.000000,15.000000,255.000000,2.000000,-1.000000,0.000000,1.000000
75%,49.000000,1708.000000,22.000000,496.000000,3.000000,20.750000,1.000000,1.000000
max,95.000000,81204.000000,31.000000,3881.000000,63.000000,854.000000,58.000000,1.000000

In [8]:
data_x = df.drop('balance', axis='columns')
data_y = df.deposit

In [9]:
data_x

       age  day  duration  campaign  pdays  previous  deposit
0       59    5      1042         1     -1         0        0
1       56    5      1467         1     -1         0        0
2       41    5      1389         1     -1         0        0
3       55    5       579         1     -1         0        0
4       54    5       673         2     -1         0        0
...    ...  ...       ...       ...    ...       ...      ...
11157   33   20       257         1     -1         0        1
11158   39   16        83         4     -1         0        1
11159   32   19       156         2     -1         0        1
11160   43    8         9         2    172         5        1
11161   34    9       628         1     -1         0        1

[11162 rows x 7 columns]

In [10]:
decission_model = DecisionTreeClassifier()

In [11]:
train_x, test_x, train_y, test_y = train_test_split(data_x, data_y, train_size=0.2)

In [12]:
decission_model.fit(train_x, train_y)

DecisionTreeClassifier()

In [13]:
y_predicted = decission_model.predict(test_x)

In [14]:
print(f'Score del modelo: {round(decission_model.score(test_x, test_y), 4) * 100}%')

Score del modelo: 100.0%

In [15]:
tree.plot_tree(decission_model)
plt.show()

In [16]:
result = ['se suscribio','no se suscribio']
age = 60 
marital = 1  
balance = 120  
day = 5  
duration = 1042  
campaign = 1  
pdays = -1  
previous = 0  
deposit = 0

In [17]:
def classify_bank(model, age, balance, day, duration, campaign, pdays, previous, deposit):
    predicted = model.predict([[age, balance, day, duration, campaign, pdays, previous]])
    print("Para una persona con las siguientes características:")
    print(f"Edad: {age}, con Saldo: {balance}, Día: {day}, Duración: {duration}, Campaña: {campaign}, Pdays: {pdays}, Previous: {previous}, Deposito: {result[deposit]}")

In [18]:

classify_bank(decission_model, age, balance, day, duration, campaign, pdays, previous, deposit)

Para una persona con las siguientes características:
Edad: 60, con Saldo: 120, Día: 5, Duración: 1042, Campaña: 1, Pdays: -1, Previous: 0, Deposito: se suscribio

c:\Users\PERSONAL\Desktop\6to semestre Gustavo\Repositorio Algoritmica\algoritmica-2023-2\gustavo\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(