In [26]:
from sklearn.ensemble import RandomForestClassifier

import pandas as pd
import numpy as np

In [56]:
df = pd.read_csv('smok_drk.csv')

In [57]:
df.head()

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
0,Male,35,170,75,90.0,1.0,1.0,1.0,1.0,120.0,...,126.0,92.0,17.1,1.0,1.0,21.0,35.0,40.0,1.0,Y
1,Male,30,180,80,89.0,0.9,1.2,1.0,1.0,130.0,...,148.0,121.0,15.8,1.0,0.9,20.0,36.0,27.0,3.0,N
2,Male,40,165,75,91.0,1.2,1.5,1.0,1.0,120.0,...,74.0,104.0,15.8,1.0,0.9,47.0,32.0,68.0,1.0,N
3,Male,50,175,80,91.0,1.5,1.2,1.0,1.0,145.0,...,104.0,106.0,17.6,1.0,1.1,29.0,34.0,18.0,1.0,N
4,Male,50,165,60,80.0,1.0,1.2,1.0,1.0,138.0,...,117.0,104.0,13.8,1.0,0.8,19.0,12.0,25.0,1.0,N

In [58]:
df.describe()

,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,DBP,...,HDL_chole,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd
count,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,...,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000
mean,47.614491,162.240625,63.284050,81.233358,0.980834,0.978429,1.031495,1.030476,122.432498,76.052627,...,56.936800,113.037692,132.141751,14.229824,1.094224,0.860467,25.989308,25.755051,37.136347,1.608122
std,14.181339,9.282957,12.514241,11.850323,0.605949,0.604774,0.174650,0.171892,14.543148,9.889365,...,17.238479,35.842812,102.196985,1.584929,0.437724,0.480530,23.493386,26.308599,50.424153,0.818507
min,20.000000,130.000000,25.000000,8.000000,0.100000,0.100000,1.000000,1.000000,67.000000,32.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.100000,1.000000,1.000000,1.000000,1.000000
25%,35.000000,155.000000,55.000000,74.100000,0.700000,0.700000,1.000000,1.000000,112.000000,70.000000,...,46.000000,89.000000,73.000000,13.200000,1.000000,0.700000,19.000000,15.000000,16.000000,1.000000
50%,45.000000,160.000000,60.000000,81.000000,1.000000,1.000000,1.000000,1.000000,120.000000,76.000000,...,55.000000,111.000000,106.000000,14.300000,1.000000,0.800000,23.000000,20.000000,23.000000,1.000000
75%,60.000000,170.000000,70.000000,87.800000,1.200000,1.200000,1.000000,1.000000,131.000000,82.000000,...,66.000000,135.000000,159.000000,15.400000,1.000000,1.000000,28.000000,29.000000,39.000000,2.000000
max,85.000000,190.000000,140.000000,999.000000,9.900000,9.900000,2.000000,2.000000,273.000000,185.000000,...,8110.000000,5119.000000,9490.000000,25.000000,6.000000,98.000000,9999.000000,7210.000000,999.000000,3.000000

In [59]:
df.DRK_YN = df.DRK_YN.map({'Y':1,'N':2})
df.sex	 = df.sex	.map({'Male':1,'Female':2})

In [60]:
df.drop([ 'height','sight_left','sight_left','sight_right','hear_left','hear_right','urine_protein','serum_creatinine','SGOT_AST','SGOT_ALT' ], axis=1, inplace=True)

In [61]:
data_x = df.drop(['SMK_stat_type_cd', 'DRK_YN'], axis='columns')  
data_y = df.DRK_YN

In [62]:
data_x.describe()

,sex,age,weight,waistline,SBP,DBP,BLDS,tot_chole,HDL_chole,LDL_chole,triglyceride,hemoglobin,gamma_GTP
count,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000
mean,1.468990,47.614491,63.284050,81.233358,122.432498,76.052627,100.424447,195.557020,56.936800,113.037692,132.141751,14.229824,37.136347
std,0.499038,14.181339,12.514241,11.850323,14.543148,9.889365,24.179960,38.660155,17.238479,35.842812,102.196985,1.584929,50.424153
min,1.000000,20.000000,25.000000,8.000000,67.000000,32.000000,25.000000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,35.000000,55.000000,74.100000,112.000000,70.000000,88.000000,169.000000,46.000000,89.000000,73.000000,13.200000,16.000000
50%,1.000000,45.000000,60.000000,81.000000,120.000000,76.000000,96.000000,193.000000,55.000000,111.000000,106.000000,14.300000,23.000000
75%,2.000000,60.000000,70.000000,87.800000,131.000000,82.000000,105.000000,219.000000,66.000000,135.000000,159.000000,15.400000,39.000000
max,2.000000,85.000000,140.000000,999.000000,273.000000,185.000000,852.000000,2344.000000,8110.000000,5119.000000,9490.000000,25.000000,999.000000

In [63]:
data_x

,sex,age,weight,waistline,SBP,DBP,BLDS,tot_chole,HDL_chole,LDL_chole,triglyceride,hemoglobin,gamma_GTP
0,1,35,75,90.0,120.0,80.0,99.0,193.0,48.0,126.0,92.0,17.1,40.0
1,1,30,80,89.0,130.0,82.0,106.0,228.0,55.0,148.0,121.0,15.8,27.0
2,1,40,75,91.0,120.0,70.0,98.0,136.0,41.0,74.0,104.0,15.8,68.0
3,1,50,80,91.0,145.0,87.0,95.0,201.0,76.0,104.0,106.0,17.6,18.0
4,1,50,60,80.0,138.0,82.0,101.0,199.0,61.0,117.0,104.0,13.8,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
991341,1,45,80,92.1,114.0,80.0,88.0,198.0,46.0,125.0,132.0,15.0,27.0
991342,1,35,75,86.0,119.0,83.0,83.0,133.0,40.0,84.0,45.0,15.8,15.0
991343,2,40,50,68.0,110.0,70.0,90.0,205.0,96.0,77.0,157.0,14.3,17.0
991344,1,25,60,72.0,119.0,74.0,69.0,122.0,38.0,73.0,53.0,14.5,17.0
991345,1,50,70,90.5,133.0,79.0,99.0,225.0,39.0,153.0,163.0,15.8,36.0

In [64]:
forest = RandomForestClassifier()

In [65]:
forest.fit(data_x, data_y)

RandomForestClassifier()

In [66]:
print(f'El score del modelo es: {round(forest.score(data_x, data_y), 4) *100}%')

El score del modelo es: 100.0%

In [78]:
result = [ 'bebe_alcohol', 'no_bebe_alcohol' ]

def drink_classify(model, sex,age, weight,waistline,SBP,DBP,BLDS, tot_chole, HDL_chole, LDL_chole,triglyceride, hemoglobin, gamma_GTP):
    prediccion_alcohol = forest.predict([[sex, age, weight, waistline, SBP, DBP, BLDS, tot_chole, HDL_chole, LDL_chole, triglyceride, hemoglobin, gamma_GTP]])
    print(f'PredicciÃ³n del consumo de alcohol: {result[prediccion_alcohol[0]]}')

In [79]:
drink_classify(forest, 1, 40, 70, 80, 120, 80, 90, 180, 50, 100, 70, 14, 30)

PredicciÃ³n del consumo de alcohol: no_bebe_alcohol

d:\Archivos\OneDrive\Escritorio\Ingenieria de sistemas\7semestre\Algoritmica\repository\mi_entorno\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(